/*-----------------------------------------------------------------------------------*/
/*  Form
/*-----------------------------------------------------------------------------------*/

form{
	margin-top: 2rem;
}

/* Basic input styles */
input[type="text"], 
input[type="email"],
input[type="search"],
input[type="password"],
input[type="tel"],
input[name="post_password"],
textarea,
select{
	max-width: 100%!important;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: $font-color-hard;
	border:none;
	line-height: inherit;
	padding: 0.5rem 0.7rem;
	border: 1px solid black(0.1);
	border-color: black(0.3);
	text-shadow: none;

	&:focus{
		outline:none;
		border-color: black(0.5);
	}
}

select, option{
	padding: 0.5rem 0.7rem;
	min-width: 200px;
}

textarea{
	width: 100%;
	height: 250px;
}

input[type="submit"]{
	@extend .button;
	width: auto;
	margin-left: 0!important;
	position:relative;
	top:-1px;
}

input[type="text"], 
input[type="email"],
input[type="tel"],
input[type="search"],
select,
textarea {
	width: 100%;	
}

textarea{
	width: 100%;
}

input[type="text"], 
input[type="email"],
input[type="tel"],
input[type="search"],
textarea{
	background: white(0.9);
	color: #000;
}

input[type="checkbox"],
input[type="radio"]{
	margin-left: 0.1rem;
	margin-right: rem-calc(10);
}

p {
	label{
   		display: block;
   		margin-bottom: 0.5rem;
   		width: 100%;
   	}
}