/*-----------------------------------------------------------------------------------*/
/*  Pagination
/*-----------------------------------------------------------------------------------*/
.pagination{

	margin: 2rem 0;

	ul.page-numbers{
	
		@extend .clearfix;

		font-family: $sans-serif;
		margin-left: 0;

		li{
			list-style-type: none;
			display: inline-block;
			
			.page-numbers{
				font-size: 15px;
				line-height:27px;
				position:relative;
				color: #333!important;
				font-weight: bold;
				float:left; 
				cursor:pointer;
				display: inline-block;
				height: 28px;
				width: 28px;
				margin:10px 5px 10px 0;
				text-align: center;
				text-shadow:none;
				text-decoration: none!important;
				border:none;
				border : solid 1px rgba(0,0,0, 0.08);

				&:hover{
					opacity:0.7;
				}

				&.current{
				     color: #fff!important;
				     background-color: $accent!important; 
				     border : solid 1px $accent;
				     opacity:1;
				}
			}

			.page-numbers.dots{
				opacity: 1!important;
				background:none;
				border:none;
			}

			.page-numbers.next,
			.page-numbers.prev{
				line-height: 25px;
			}

		}
	}
}