// Typography
$base-font-size : 16px;
$heading-base : 5rem;
$list-style-type : square;

// Fonts
$sans-serif: Helvetica, Arial, sans-serif;
$serif: "Georgia", serif;

// Background
$background: #fff;
$footer-bg: #393939;

// Color tone
$font-color-soft : #888;
$font-color-medium : #666;
$font-color-hard : #333;
$font-color-alt : #fff;

$footer-color: #767676;

// Accent color
$accent:#4BBD93;

// Layout
$max-width : 1140px;
$max-small-width : 740px;

// Grid
$columns : 12;

// Media queries
$break-phone: 500px;
$break-tablet: 900px;
$break-desktop: 1600px;
